<div
    cdkDropList
    [cdkDropListData]="items"
    class="example-list"
    (cdkDropListDropped)="onDrop.emit($event)"
    (cdkDropListExited)="dragExited($event)"
    (cdkDropListEntered)="dragEntered($event)"
    >
    <div
      class="example-box" 
      *ngFor="let item of items; trackBy: trackById;"
      cdkDrag
      vsDragScroll
      [vsDragScrollContainer]="scrollContainer"
      (cdkDragStarted)="dragStarted($event)"
      (cdkDragEnded)="dragEnded($event)"
      [cdkDragData]="item"
      >{{item?.id}}</div>
  </div>